html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.freight {
  font-weight: 400;
  font-style: normal;
  font-family: "freight-sans-pro", sans-serif;
}

body {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  padding-top: 0;
  margin: 0;
  background-color: #2B2E34;
  color: #ffffff;
}
body.page-id-704 {
  background-color: #ED4233;
}
body.blog, body.single {
  background-color: #E8E8E8;
  color: #2B2E34;
}
body.blog .nav .wrapper .burgerMenu .line, body.single .nav .wrapper .burgerMenu .line {
  stroke: #2B2E34;
}
body.blog.navActive .nav .wrapper .burgerMenu .line, body.single.navActive .nav .wrapper .burgerMenu .line {
  stroke: #ffffff;
}
body.blog.navActive header .nav .wrapper .logoWrapper a svg path, body.single.navActive header .nav .wrapper .logoWrapper a svg path {
  fill: #ffffff;
}
body.blog.navActive header .nav .wrapper .logoWrapper a svg path.redLogo, body.single.navActive header .nav .wrapper .logoWrapper a svg path.redLogo {
  fill: #ED4233;
}
body.blog header .nav .topNav .headerMenu ul li.menu-item-36 a:after, body.single header .nav .topNav .headerMenu ul li.menu-item-36 a:after {
  border: 2px solid #ED4233;
}
body.blog header .nav .topNav .headerMenu ul li.menu-item-724 a, body.single header .nav .topNav .headerMenu ul li.menu-item-724 a {
  border-color: #6F49F6;
  color: #6F49F6;
}
body.blog header .nav .topNav .headerMenu ul li.menu-item-724 a:hover, body.single header .nav .topNav .headerMenu ul li.menu-item-724 a:hover {
  background-color: #6F49F6;
  color: #ffffff;
}
body.blog header .nav .topNav .headerMenu ul li a:hover:after, body.single header .nav .topNav .headerMenu ul li a:hover:after {
  border: 2px solid #6F49F6;
}
body.blog header .nav .topNav a, body.single header .nav .topNav a {
  color: #2B2E34;
}
body.blog .nav .wrapper .logoWrapper a svg path, body.blog .nav .wrapper .logoWrapper a svg rect, body.single .nav .wrapper .logoWrapper a svg path, body.single .nav .wrapper .logoWrapper a svg rect {
  fill: #2B2E34;
}
body.blog .nav .wrapper .logoWrapper a svg path.redLogo, body.blog .nav .wrapper .logoWrapper a svg rect.redLogo, body.single .nav .wrapper .logoWrapper a svg path.redLogo, body.single .nav .wrapper .logoWrapper a svg rect.redLogo {
  fill: #ED4233;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1100px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.central {
  text-align: center;
}

.newCTA {
  display: inline-flex;
  align-items: center;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .newCTA {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1100px) {
  .newCTA {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .newCTA {
    font-size: 22px;
  }
}
.newCTA .text, .newCTA .svgWrap {
  display: inline-flex;
  align-items: center;
  border: 2px solid;
  border-radius: 90px;
  height: 65px;
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.5s;
  text-align: center;
}
@media only screen and (min-width: 1100px) {
  .newCTA .text, .newCTA .svgWrap {
    height: 85px;
  }
}
@media only screen and (min-width: 1100px) {
  .newCTA:hover {
    left: 6px;
  }
}
@media only screen and (min-width: 1100px) {
  .newCTA:hover .text {
    padding: 20px 46px;
  }
}
@media only screen and (min-width: 1400px) {
  .newCTA:hover .text {
    padding: 20px 56px;
  }
}
@media only screen and (min-width: 1100px) {
  .newCTA:hover .svgWrap {
    width: 125px;
  }
}
.newCTA .svgWrap {
  width: 90px;
  margin-left: 10px;
}
@media only screen and (min-width: 1100px) {
  .newCTA .svgWrap {
    width: 115px;
  }
}
.newCTA .svgWrap svg {
  max-width: 80%;
  margin: auto;
}
.newCTA .svgWrap svg path {
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.5s;
}
.newCTA .text {
  padding: 15px 25px;
  text-transform: uppercase;
}
@media only screen and (min-width: 1100px) {
  .newCTA .text {
    padding: 20px 40px;
  }
}
@media only screen and (min-width: 1400px) {
  .newCTA .text {
    padding: 20px 50px;
  }
}

.uppercase {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-family: "Sora", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.35s;
  -webkit-tap-highlight-color: transparent !important;
}
a svg {
  pointer-events: none;
}
@media only screen and (min-width: 1100px) {
  a svg:hover {
    cursor: pointer !important;
  }
  a:hover {
    cursor: pointer !important;
  }
}

section {
  float: left;
  width: 100%;
}

svg {
  pointer-events: none;
}

input[type=email],
input[type=text],
input[type=tel] {
  background: transparent;
  border: none;
}

a:hover, a:focus,
div:hover,
div:focus,
button:hover,
button:focus,
select:hover,
select:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
text:hover,
text:focus {
  outline: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-list .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-list .slick-slide img {
  display: block;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
}
.button.glassButton {
  border-radius: 16px;
  padding: 15px 25px;
  background: hsla(0, 0%, 100%, 0.09);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
@media (min-width: 768px) {
  .button.glassButton {
    padding: 23px 30px;
    border-radius: 18px;
  }
}
@media (min-width: 1100px) {
  .button.glassButton {
    border-radius: 22px;
    padding: 25px 65px;
  }
}

.revealTitle .line .word {
  overflow: hidden;
  line-height: 120%;
}

.nav .bg {
  background: hsla(0, 0%, 100%, 0.09);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.5s;
}
.nav .wrapper {
  display: flex;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 75px;
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.5s;
}
@media (min-width: 768px) {
  .nav .wrapper {
    height: 75px;
  }
}
@media (min-width: 1100px) {
  .nav .wrapper {
    flex-wrap: wrap;
  }
}
.nav .wrapper .logoWrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
@media (max-width: 639px) {
  .nav .wrapper .logoWrapper {
    flex: 0 1 50%;
  }
}
@media (min-width: 1100px) {
  .nav .wrapper .logoWrapper {
    margin-right: 0;
    flex: 0 0 15%;
  }
}
.nav .wrapper .logoWrapper a {
  display: flex;
  align-items: center;
}
.nav .wrapper .logoWrapper a svg {
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.5s;
  transform-origin: left;
  transform: scale(1);
  position: relative;
}
.nav .wrapper .logoWrapper a svg path, .nav .wrapper .logoWrapper a svg rect {
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.75s;
}
@media (min-width: 768px) {
  .nav .wrapper .logoWrapper .mobileLogo {
    display: none;
  }
}
.nav .wrapper .logoWrapper .tabletLogo {
  display: none;
}
@media (min-width: 768px) {
  .nav .wrapper .logoWrapper .tabletLogo {
    display: block;
    width: 200px !important;
  }
}
@media (min-width: 1100px) {
  .nav .wrapper .logoWrapper .tabletLogo {
    transform-origin: left;
    transform: scale(1);
    transition: 0.3s ease;
  }
}
@media (min-width: 1200px) {
  .nav .wrapper .logoWrapper .tabletLogo {
    width: 225px !important;
  }
}
.nav .wrapper .burgerMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 11px;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1100px) {
  .nav .wrapper .burgerMenu {
    display: none;
  }
}
.nav .wrapper .burgerMenu svg {
  width: 50px;
  height: 50px;
}
@media only screen and (min-width: 768px) {
  .nav .wrapper .burgerMenu svg {
    width: 60px;
    height: 60px;
  }
}
.nav .wrapper .burgerMenu .line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .wrapper .burgerMenu.active .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.nav .wrapper .burgerMenu.active .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.nav .wrapper .burgerMenu.active .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.nav .wrapper .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.nav .wrapper .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.nav .wrapper .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.nav .wrapper .burger {
  z-index: 450;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  padding: 5px;
  right: 20px;
  left: auto;
  margin: 0 auto;
}
.nav .wrapper .burger svg {
  max-height: 26px;
  width: auto;
  position: relative;
}
@media only screen and (min-width: 1100px) {
  .nav .wrapper .burger {
    display: none;
  }
}
.nav .wrapper .burger .line {
  height: 3px;
  background-color: #ffffff;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav .wrapper .burger .line:nth-of-type(1) {
  top: -22px;
}
.nav .wrapper .burger .line:nth-of-type(3) {
  top: 22px;
}
.nav .wrapper .logoWrap {
  position: relative;
  z-index: 400;
  display: none;
}
@media (min-width: 1100px) {
  .nav .wrapper .logoWrap {
    display: block;
  }
}

body.navActive header .nav {
  position: fixed;
}

.navItems {
  transition: transform 0.5s ease, border-radius 0.3s ease;
  transition-delay: 0s, 0.25s;
  z-index: 3;
  opacity: 1;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-200%);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
}
@media (min-width: 1100px) {
  .navItems {
    display: none;
  }
}
.navItems.show {
  overflow: hidden;
  transform: translateY(0%);
}
.navItems.show ul li:nth-child(1) a {
  transition: transform 0.3s ease 0.25s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(2) a {
  transition: transform 0.3s ease 0.35s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(3) a {
  transition: transform 0.3s ease 0.45s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(4) a {
  transition: transform 0.3s ease 0.55s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(5) a {
  transition: transform 0.3s ease 0.65s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(6) a {
  transition: transform 0.3s ease 0.75s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(7) a {
  transition: transform 0.3s ease 0.85s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(8) a {
  transition: transform 0.3s ease 0.95s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(9) a {
  transition: transform 0.3s ease 1.05s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(10) a {
  transition: transform 0.3s ease 1.15s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(11) a {
  transition: transform 0.3s ease 1.25s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(12) a {
  transition: transform 0.3s ease 1.35s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(13) a {
  transition: transform 0.3s ease 1.45s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(14) a {
  transition: transform 0.3s ease 1.55s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(15) a {
  transition: transform 0.3s ease 1.65s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(16) a {
  transition: transform 0.3s ease 1.75s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(17) a {
  transition: transform 0.3s ease 1.85s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(18) a {
  transition: transform 0.3s ease 1.95s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(19) a {
  transition: transform 0.3s ease 2.05s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(20) a {
  transition: transform 0.3s ease 2.15s, color 0.3s ease 0s;
}
.navItems.show ul li:nth-child(21) a {
  transition: transform 0.3s ease 2.25s, color 0.3s ease 0s;
}
.navItems.show ul li a {
  transform: translateY(0);
}
.navItems .menuWrapper {
  width: 100%;
  padding: 60px 20px 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navItems .menuWrapper svg {
  position: absolute;
  z-index: 1;
  inset: 0;
  margin: auto;
  width: 150%;
  max-width: 150%;
  left: -25%;
  opacity: 0.2;
}
.navItems .menuWrapper svg > g > g:first-of-type {
  display: none;
}
.navItems .menuWrapper .headerMenu {
  z-index: 2;
}
.navItems ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
}
.navItems ul li {
  display: block;
  width: 100%;
  overflow: hidden;
}
.navItems ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  color: #ffffff;
  font-weight: 300;
  transform: translateY(55px);
  transition: transform 0.3s ease, color 0.3s ease;
}
.navItems ul li a:hover {
  color: #ED4233;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 80px;
  z-index: 999;
}
@media (min-width: 1100px) {
  header.sticky:hover .nav .bg {
    height: 80px;
  }
}
header.sticky .nav .bg {
  height: 50px;
}
header.sticky .nav .wrapper {
  height: 46px;
}
@media (min-width: 1100px) {
  header.sticky .nav .wrapper:hover {
    height: 75px;
  }
  header.sticky .nav .wrapper:hover .logoWrapper svg {
    left: 0;
  }
  header.sticky .nav .wrapper:hover .logoWrapper svg path, header.sticky .nav .wrapper:hover .logoWrapper svg rect {
    opacity: 1;
  }
  header.sticky .nav .wrapper:hover .innerNav .topNav .headerMenu ul li {
    transform: scale(1);
  }
  header.sticky .nav .wrapper:hover .innerNav .topNav .headerMenu ul li.menu-item-724 {
    transform: scale(1);
  }
}
header.sticky .nav .wrapper .logoWrapper svg {
  transform: scale(0.6);
}
@media (min-width: 1100px) {
  header.sticky .nav .wrapper .innerNav .topNav .headerMenu ul li {
    transform: scale(0.6);
  }
}
@media (min-width: 1100px) {
  header.sticky .nav .wrapper .innerNav .topNav svg {
    right: 100px;
    transform: scale(1);
    opacity: 1;
  }
}
header .nav {
  transition: 0.3s ease;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 40;
}
@media (min-width: 1100px) {
  header .nav .innerNav {
    position: relative;
    left: 0;
    transition: 0.3s ease;
    flex: 0 0 85%;
    display: flex;
    justify-content: flex-end;
  }
}
header .nav .topNav {
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}
header .nav .topNav a {
  color: #ffffff;
  font-family: "Sora", sans-serif;
  font-weight: 400;
}
header .nav .topNav svg {
  position: absolute;
  right: 55px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  max-height: 23px;
  width: auto;
  z-index: 1;
  border: 1px solid;
  border-radius: 12px;
  padding: 2px 12px;
  opacity: 1;
  transform: scale(0);
  transform-origin: right;
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.5s;
}
header .nav .topNav .buttons {
  margin: 0;
  display: flex;
  align-items: center;
}
header .nav .topNav .buttons a {
  align-items: center;
  font-size: 15px;
}
@media (min-width: 1100px) {
  header .nav .topNav .buttons a {
    margin-left: 10px;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  header .nav .topNav .buttons a {
    margin-left: 15px;
  }
}
@media (min-width: 1400px) {
  header .nav .topNav .buttons a {
    font-size: 18px;
  }
}
header .nav .topNav .buttons a:not(:first-of-type) {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px 13px 5px;
}
header .nav .topNav .headerMenu {
  display: none;
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu {
    display: block;
    position: relative;
    z-index: 3;
  }
}
header .nav .topNav .headerMenu ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul {
    justify-content: flex-end;
  }
}
header .nav .topNav .headerMenu ul li {
  margin: 0 7px;
  position: relative;
  transform: scale(1);
  transform-origin: right;
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.5s;
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul li {
    margin: 0 15px;
  }
}
@media (min-width: 1200px) {
  header .nav .topNav .headerMenu ul li {
    margin: 0 17px;
  }
}
@media (min-width: 1400px) {
  header .nav .topNav .headerMenu ul li {
    margin: 0 20px;
  }
}
@media (min-width: 1800px) {
  header .nav .topNav .headerMenu ul li {
    margin: 0 30px;
  }
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul li:hover .sub-menu {
    opacity: 1;
    pointer-events: all;
  }
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul li.menu-item-724 {
    margin-right: 0;
  }
}
@media (min-width: 1600px) {
  header .nav .topNav .headerMenu ul li.menu-item-724 {
    margin-left: 80px;
  }
}
@media (min-width: 1800px) {
  header .nav .topNav .headerMenu ul li.menu-item-724 {
    margin-left: 120px;
  }
}
header .nav .topNav .headerMenu ul li.menu-item-724 a {
  border: 2px solid #E3F74D;
  border-radius: 10px;
  display: inline-block;
  color: #E3F74D;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 300;
}
header .nav .topNav .headerMenu ul li.menu-item-724 a:after {
  display: none;
}
header .nav .topNav .headerMenu ul li.menu-item-724 a:hover {
  color: #2B2E34;
  background-color: #E3F74D;
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul li.menu-item-724 a {
    padding: 6px 15px;
  }
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul li.current_page_item > a:after, header .nav .topNav .headerMenu ul li.current_page_parent > a:after {
    border-radius: 10px;
    width: calc(100% + 16px);
    opacity: 1;
    border-color: #ED4233;
  }
}
@media (min-width: 1400px) {
  header .nav .topNav .headerMenu ul li.current_page_item > a:after, header .nav .topNav .headerMenu ul li.current_page_parent > a:after {
    width: calc(100% + 22px);
  }
}
header .nav .topNav .headerMenu ul li a {
  position: relative;
  font-weight: 300;
}
header .nav .topNav .headerMenu ul li a:after {
  content: "";
  inset: -8px;
  border-radius: 30px;
  margin: auto;
  position: absolute;
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.4, 1);
  transition-property: all;
  transition-duration: 0.3s;
  width: 80%;
  opacity: 0;
  height: calc(100% + 16px);
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul li a:after {
    border: 2px solid #E3F74D;
  }
}
@media (min-width: 1400px) {
  header .nav .topNav .headerMenu ul li a:after {
    inset: -8px -11px;
  }
}
@media (min-width: 1100px) {
  header .nav .topNav .headerMenu ul li a:hover:after {
    border-radius: 10px;
    width: calc(100% + 16px);
    opacity: 1;
  }
}
@media (min-width: 1400px) {
  header .nav .topNav .headerMenu ul li a:hover:after {
    width: calc(100% + 22px);
  }
}
@media (min-width: 1100px) {
  header .nav .topNav ul li {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  header .nav .topNav ul li {
    font-size: 15px;
  }
}
@media (min-width: 1300px) {
  header .nav .topNav ul li {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  header .nav .topNav ul li {
    font-size: 18px;
  }
}
@media (min-width: 1500px) {
  header .nav .topNav ul li {
    font-size: 20px;
  }
}
@media (min-width: 1100px) {
  header .nav .topNav ul li.menu-item-39 {
    margin-left: 25px;
  }
}
@media (min-width: 1400px) {
  header .nav .topNav ul li.menu-item-39 {
    margin-left: 35px;
  }
}

.mobileMenu {
  display: block;
  background-color: #2B2E34;
  color: #ffffff;
}
.mobileMenu.show {
  position: relative;
}
.mobileMenu.show ul li {
  opacity: 1;
}
.mobileMenu ul li {
  position: relative;
  margin-bottom: 5px;
  opacity: 0;
}
.mobileMenu ul li a {
  font-size: 4vh;
  text-align: center;
}

body.navActive {
  overflow: hidden;
  touch-action: none;
}
body.navActive .nav .bg {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  background: hsla(0, 0%, 100%, 0);
  transition: 0.5s ease;
}
body.navActive .aboveNavItems {
  opacity: 1;
  transform: translateY(-100%);
}/*# sourceMappingURL=header.css.map */ transform: translateY(-100%);
}/*# sourceMappingURL=header.css.map */